<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.evan.ma.mapper.LoginMapper">

    <select id="login" resultType="com.evan.ma.entity.User">
        select
        *
        from
        sys_user
        where
        username = #{userName}
        and
        password = #{passWord}
    </select>
</mapper>